<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>連絡帳</title>
    </head>
    
    <body>
        <h1>TOPページ</h1>
        <% if @message %>
            <div class ="message"><%= @message %></div>
        <% end %>
        
  <table border =1 >
    <thead>
      <tr>
        <th>ID</th>
        <th>〜時から</th>
        <th>〜時まで</th>
        <th>スケジュール</th>
        <th>カテゴリ</th>
      </tr>
    </thead>
    <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.id %></td>
        <td><%= schedule.from %></td>
        <td><%= schedule.to %></td>
        <td><%= schedule.todo %></td>
        <td><%= schedule.category %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

    </body>
    
    <footer>
        <a href="/contact_new">新規連絡先の作成</a>
    </footer>
</html>