<!doctype html>

<html lang="jp">
<head>
  <meta charset="utf-8">

  <title> -- Sinatra 時間割スケジューラー -- </title>
  <meta name="author" content="miketa_webprgr">
  <meta name="description" content="Sinatraを使って時間割スケジューラーを作ってみた">
  <meta name="keywords" content="時間割,スケジューラー,時間管理,日程作成">

  <link rel="stylesheet" href="/style.css">

</head>

<body>

  <h2>時間割スケジューラー</h2>

    <table class = "index">
        <tr>
            <td>【月】</td>
            <td><%= @monday.strftime(" %-m月%-d日 ") %></td>
            <td><a href="/scheduler_form/<%= @monday %>">編集</a></td>
            
        </tr>
        <tr>
            <td>【火】</td>
            <td><%= @tuesday.strftime(" %-m月%-d日 ") %></td>
            <td><a href="/scheduler_form/<%= @tuesday %>">編集</a></td>
                        
        </tr>
        <tr>
            <td>【水】</td>
            <td><%= @wednesday.strftime(" %-m月%-d日 ") %></td>
            <td><a href="/scheduler_form/<%= @wednesday %>">編集</a></td>
                            
        </tr>
        <tr>
            <td>【木】</td>
            <td><%= @thursday.strftime(" %-m月%-d日 ") %></td>
            <td><a href="/scheduler_form/<%= @thursday %>">編集</a></td>
                          
        </tr>
        <tr>
            <td>【金】</td>
            <td><%= @friday.strftime(" %-m月%-d日 ") %></td>
            <td><a href="/scheduler_form/<%= @friday %>">編集</a></td>
                         
        </tr>
        <tr>
            <td>【土】</td>
            <td><%= @saturday.strftime(" %-m月%-d日 ") %></td>
            <td><a href="/scheduler_form/<%= @saturday %>">編集</a></td>
                        
        </tr>
        <tr>
            <td>【日】</td>
            <td><%= @sunday.strftime(" %-m月%-d日 ") %></td>
            <td><a href="/scheduler_form/<%= @sunday %>">編集</a></td>
              
        </tr>
    </table>


<br>

</body>

<footer>

  <div class="pagination">
    <<a href="#">先週</a>
    <a href="#">翌週</a>>
  </div>
  <br>
  <a href="/list_all">全てのスケジュールを確認する</a>

  <p>
    <strong>Note:</strong> type="time" is not supported in Safari or Internet Explorer 12 and earlier versions.
    </p>

</footer>

</html>